@import "tailwindcss";

/* Light Theme */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #DF3234;
  --secondary: #ffffff;
}

/* Tailwind Theme Mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: "Poppins", sans-serif;
  --font-mono: var(--font-geist-mono);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #DF3234; /* keep same brand color */
    --secondary: #000000;
  }
}

/* Base Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
